:root {
  --primary: #3b82f6;
  --bg: #0F172A;
  --bg2: #111827;
  --card-bg: #1f2937;
  --text: #ffffff;
  --text-light: #9ca3af;
}

.light {
  --bg: #f4f4f4;
  --bg2: #ffffff;
  --card-bg: #e4e4e4;
  --text: #111;
  --text-light: #444;
}
